{% extends 'main/baseMain.html' %}
{% load staticfiles %}
{% block content %}


    <div class='container'>
      Here go the histories. What have we done, how have we done it. Who with. Etc
      <div>
        <ul>
          <li>
              Some of Huntington Ad Sales's constituants were involved in acquiring
              advertising revenue for the nascent Classic Sports Network which
              eventually became ESPN Classic.
          </li>
          <li>
            Another aspect of our business in the sale of advertising for
            syndicated programs.
            <ol>
                <li>list</li> 
                <li>of</li>
                <li>programs</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>

{% endblock content %}
