{% extends 'main/baseMain.html' %}
{% load staticfiles %}
{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='{% static 'css/bootstrap.min.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/main.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/index.css' %}'>
{% endblock stylesheets %}
{% block content %}
    <div class='container'>
      <img src = "{% static "img/main/huntingtonBanner.png" %}" alt="Main Banner" />
      <div class='row'>
        <div class='col-sm-5 txtblk one'>
          <p>
            Huntington Ad Sales is a company that represents tv networks,
            or tv stations, or really any advertising entity, that is
            looking to bring revenue into their company. It does not matter
             whether it is a social media vehicle such as a blog, or a tv
             network or a local tv station.
          </p>
        </div>
        <div class='col-sm-2'></div>
        <div class='col-sm-5 txtblk two'>
          <p>
            The people who work at Huntington have been in the media industry for over 20 years.
            Their experience includes representing wgn-tv, both as a local station and a tv network,
            representing numerous tv stations from Philadelphia, Washington D.C, Indianoplis, Chicago,
            Charleston, S.C., Mobile, Alabama, Los Angeles, Las Vegas, and just many more. In addition,
             the people at Huntington have worked with entites that have at one time needed help with
             getting sales for billboards that they owned, or even newspapers or magazines, that they
             needed to sell space in.
          </p>
        </div>
      </div>
    </div>

{% endblock content %}
