{% extends 'main/baseMain.html' %}
{% load staticfiles %}
{% block stylesheets %}
    <link rel='stylesheet' type='text/css' href='{% static 'css/bootstrap.min.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/main.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/index.css' %}'>
{% endblock stylesheets %}
{% block content %}
    <div class='container'>
      <img src = "{% static "img/main/huntingtonBanner.png" %}" alt="Main Banner" />
      <div class='row'>
        <div class='col-sm-5 txtblk one'>
          <p>
            We are a company that represents advertising entities with a focus
            on television networks and stations looking to bring revenue into
            their company. It doesn't matter wether it's a social media vehicle
            such as a blog or website or a traditial structure such as a 
            cable network or a local television station. We also deal with "out of home" 
            (billboards and signage) as well as tradional print media like newspapers and
            magazines.
          </p>
        </div>
        <div class='col-sm-2'></div>
        <div class='col-sm-5 txtblk two'>
          <p>
            We at Huntington have been in the media industry for over 20 years and have seen
            the expansion of media grow in that time. Our experience includes representation
            of WGN-TV both locally in Chicago and nationally. We've represented and are representing
            stations in Philidelphia, D.C., Indianapolis, Chicago, Charleston SC, Mobile AL,
            L.A, Las Vegas, Monterey CA, Salinas CA, Peoria IL, and many more.
          </p>
        </div>
      </div>
    </div>

{% endblock content %}
